<div class="col-md-2 sidebar p-3">
    <h4 class="text-white mb-4">Little Bom Admin</h4>

    <a href="/admin/dashboard" class="<%= currentPath === '/dashboard' ? 'active-link' : '' %>">
        <i class="bi bi-speedometer2"></i> Dashboard
    </a>

    <a href="/admin/users" class="<%= currentPath === '/users' ? 'active-link' : '' %>">
        <i class="bi bi-people"></i> User Management
    </a>

    <a href="/admin/catagory" class="<%= currentPath === '/catagory' ? 'active-link' : '' %>">
        <i class="bi bi-tags"></i> Category
    </a>

    <a href="/admin/products" class="<%= currentPath === '/products' ? 'active-link' : '' %>">
        <i class="bi bi-box-seam"></i> Products
    </a>

    <a href="/admin/coupon" class="<%= currentPath === '/coupon' ? 'active-link' : '' %>">
        <i class="bi bi-ticket"></i> Coupons
    </a>

   <a href="/admin/orders" class="<%= currentPath === '/admin/orders' ? 'active-link' : '' %>">
    <i class="bi bi-bag-check"></i> Orders
    </a>

    <a href="/admin/analytics" class="<%= currentPath === '/admin/analytics' ? 'active-link' : '' %>">
    <i class="bi bi-bar-chart"></i> Analytics
</a>
</div>